<p id="notice"><%= notice %></p>


<div class="container" style="margin: auto;"> 
  <h1 style="text-align: center; margin: 20px">Seleções</h1>
    <div class="row" style="margin: auto;">  
    <% @teams.each do |team| %>    
      <div class="col-sm-4" style="border-radius: 20%">
        <div class="card" style="width: 18rem; margin: 10px; margin: solid 2px darkgray;">                
          <%= image_tag(team.urlBandeira, :alt => "flag of team", :style =>"width: 50%; margin:auto; margin-top:5px; border:solid black 1px") %>
          <div class="card-body">
            <h5 class="card-title"><%= team.pais %></h5>
            <p class="card-text">Titulos</p>            
            <hr style="height: 2px">
            <%= link_to 'Detalhes', team, :class => "btn btn-light" %>                            
            <%#= link_to 'Edit', edit_team_path(team) %>           
            <%#= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %>            
          </div>
        </div>        
    </div>            
<% end %>          
</div>
</div>


  <!-- <tbody>
    <% @teams.each do |team| %>

      <tr>
        <td><%= team.pais %></td>
        <td><%= team.urlBandeira %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 -->
<br>

<%= link_to 'New Team', new_team_path %>
