<p id="notice"><%= notice %></p>
<div class="container" style="margin: auto;">   
  <h1 style="text-align: center; margin: 20px">Jogadores em Destaque</h1>
    
    <% @players.each do |player| %> 

    <div class="row" style="margin: auto; margin-bottom: 10px; border-radius: 10px; padding: 10px; border: solid 2px gray;">  
        <div vocab="http://schema.org/" typeof="Person" class="col-sm-6">                                               
          <p property = "name"> <%= player.nome %> </p>
          <p ><%= player.numero %></p>
          <p property = "birthPlace" ><%= player.nacionalidade %></p>                    
          <p property = "description" ><%= player.descricao %></p>
          <p> <%= link_to 'Detalhes', player %></p>
          <p><%#= link_to 'Edit', edit_player_path(player) %></p>
          <p><%#= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></p>                  
        </div>  
        <div class="col-sm-6">
            <%= image_tag(player.urlImagem, :property => "image" , :style =>"max-width: 300px") %>
        </div>
        </div>        

    <% end -%>           
</div>

<br>

<%= link_to 'New Player', new_player_path %>
