<p id="notice"><%= notice %></p>

<div class="container"> 
    <div class="row"> 
  <div class="col-sm-6" vocab="http://schema.org/" about="#player_<%= @player.nome %>" typeof="Person">        
  <p>
      <strong>Nome:</strong>
      <span property = "name"> <%= @player.nome %> </span> 
  </p>

<p>
  <strong>Numero:</strong>
  <span> <%= @player.numero %> </span> 
</p>

<p>
  <strong >Nacionalidade:</strong>
  <span property="birthPlace"> <%= @player.nacionalidade %> </span> 
</p>

<p>
  <strong>Descricao:</strong>
  <span property="description"> <%= @player.descricao %> </span> 
</p>
<div property="memberOf" typeof="Organization">  
    <p>
      <strong>Team:</strong>
      <span property="name"> <%= @player.team.pais %></span><br>
      <%= link_to 'Visitar Seleção', team_path(@player.team.id), :class => "btn btn-light", :property => "url"%>
    </p>       
</div>

    </div>
<div class="col-sm-6">     
  <%= image_tag(@player.urlImagem, :property => "image") %>  
</div>
</div>
<%#= link_to 'Edit', edit_player_path(@player) %> 
<%= link_to 'Voltar', players_path %>
</div>

